<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GenerateFilterCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>294597A01DC62BEA0037A3EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>294597AF1DC62BEA0037A3EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>294597BA1DC62BEA0037A3EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
